body {
    background-color: #a8584c;
    color: white;
}
#home {
    background: url(../img/8.jpg) 50% 0 no-repeat fixed;
    min-height: 700px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-control{
    background-color: rgb(225, 184, 184);
    color: black;
    border-color:#B2493D;
}

.form-control:focus {
    color: #B2493D;
    background-color: white;
    border:2px solid #B2493D;
    outline: none;
}

.form-control-file{
    color: gainsboro;
    background-color: #B2493D;
    font-size: small;
}

.info label{
    color: #f7ecb5;
}
