body{
    position: relative;
    overflow-y: scroll;
    font-family: 'PT Sans Caption', sans-serif;
}
#t1 {
    color: #bd4147;
}

#t3 {
    color: #bd4147;
}

#t2 {
    color: #bd4147;
}

#s1{
    color: #eb9316;
}

#s2{
    color: #eb9316;
}
#s3{
    color: #eb9316;
}


#bt1{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    width: 70px;
    height: 70px;
    color: black;
}


#bt2{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    width: 70px;
    height: 70px;
    color: black;
}

#bt3{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    width: 70px;
    height: 70px;
    color: black;
}

.line{
    width: 350px;
    height: 2px;
    background-color: #bd4147;
}
.tittle{
    color: #843534;
}
hr{
    width: 100%;
    height: 2px;
    background-color: #bd4147;
    margin-left:0px;
}
.card{
    border: solid 2px #e4b9b9;
    border-radius: 20px;
    -webkit-box-shadow: 5px 6px 20px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 20px 1px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 20px 1px rgba(0,0,0,0.75);
}

.popover.popover-bottom::before, .popover.bs-tether-element-attached-top::before {
    top: -11px;
    margin-left: 86px;
}

.popover.popover-bottom::after, .popover.bs-tether-element-attached-top::after {
    top: -10px;
    margin-left: 87px;
    border-bottom-color: crimson !important;
}

.triangulo {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 15px solid crimson;
    border-right: 10px solid transparent;
    margin-top: -25px;
    margin-left: 250px;
}

.popover.popover-bottom, .popover.bs-tether-element-attached-top {
    left: -88px !important;
    max-width: 315px !important;
}
.popover-content {
    max-width: 600px; !important;
}
.popover {
    border-radius: 0px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.33);
    border: 2px solid crimson;
    top: 17px !important;
}
.boton{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 31.666667%;
}
.footertexto{
    letter-spacing: 3px;
}
.footericons{
    background-color: black;
    border: 1px solid black;

}

.final{
    font-size: 15px;
}
.h1s{
    border-top: 6px solid white;
    border-bottom: 6px solid white;
    padding: 8px 0px 8px 0px;
    text-transform: uppercase;
    font-family: "Yu Gothic";
    font-weight: bold;
}

.size{
    width: 200px;
    height: 150px;
}

#servicios .card{
    border: none;
    background-color: transparent;
}

#servicios .tittle{
    color: #843534;
}
#servicios .linetittle{
    margin-left: 7rem !important;
    width: 350px;
    height: 2px;
    background-color: #bd4147;
}

#footer .tittle{
    color: #843534;
}
#footer .titulos hr{
    width: 100%;
}

#footer .contactos hr{
    width: 100%;
}

#footer h1{
    color: #843534;
}
#footer .linetittle{
    margin-left: 8rem !important;
    width: 445px;
    height: 2px;
    background-color: #bd4147;
}

.h4{
    background-color: gainsboro;
    padding: 10px 10px;
    color: #ff154d;
    font-weight: bold;
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
}

.badge{
    font-size: large;
}

#servicios{
    background-image: url("../img/fondo.jpg");
    background-color: black;
}

#servicios .imgCircular{
    border-radius: 50%;
    background-color: white;
}

#servicios p{
    font-size: 15px;
}
.btn-secondary{
    background-color: #ff154d;
    padding: 20px 40px 20px 40px;
    font-size: 15px;
    color: white;
}
.over:hover{
    background-color: transparent;
    color: white;
}

.fa:hover{
    color: darkorange;
}


.menu nav{
    background: transparent;
}
.columnaNegro{
    background-color: black;
    opacity:0.6;
}
#navbarNavAltMarkup a{
    color: rgba(255, 103, 8, 0.9);
    border-right: solid crimson;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: underline rgba(255, 187, 145, 0.7);
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 18px;
}

#navbarNavAltMarkup a:hover{
    color: rgba(255, 85, 73, 0.7);
    text-decoration: none;
}

.navbar-light .navbar-toggler {
    border: 2px solid #ef8d02;
    background-color: crimson;
}

.busqueda .palabracolor{
    color:crimson;
    font-family: 'PT Sans Caption', sans-serif;
}

.busqueda h2{
    color: white;
    font-family: 'PT Sans Caption', sans-serif;
}

.busqueda i {
    color: rgba(255, 103, 8, 0.9);
}

.busqueda .frase {
    color: darkgoldenrod;
}

.busqueda {
    z-index:100;
    position: absolute;
    margin-left: auto;
}
.busquedaRegistro {
    z-index:100;
    position: absolute;
    margin-left: auto;
}

#servicios h1{
    color:black;
}

#ranking .contornoImg{
    height: 120px;
}

.botonGO{
    margin-top: -40px;
    margin-right: -33px;
}

@media (max-width: 575px) {
    #footer .titulos{
        padding-left: 1em !important;
    }
    #servicios .titulos{
        padding-left: 1em !important;
    }
    #ranking .titulos{
        padding-left: 1em !important;
    }
    .jumbotron h2{
        font-size: 1.5em;
    }
    .jumbotron h1{
        font-size: 2em;
    }
    .jumbotron .fa-5x{
        font-size: 2em;
    }
    .jumbotron p{
        margin-top: 0rem !important;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    #footer .titulos{
        padding-left: 1em !important;
    }
    #servicios .titulos{
        padding-left: 1em !important;
    }
    #ranking .titulos{
        padding-left: 1em !important;
    }
    .jumbotron h2{
        font-size: 1.5em;
    }
    .jumbotron h1{
        font-size: 2em;
    }
    .jumbotron .fa-5x{
        font-size: 2em;
    }
    .jumbotron p{
        margin-top: 0rem !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #footer .titulos{
        padding-left: 9em !important;
    }
    #servicios .titulos{
        padding-left: 8em !important;
    }
    #ranking .titulos{
        padding-left: 5em !important;
    }
    .jumbotron h2{
        font-size: 2.5em;
    }
    .jumbotron h1{
        font-size: 3em;
    }
    .jumbotron .fa-5x{
        font-size: 3em;
    }
    .jumbotron p{
        margin-top: 0rem !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #footer .titulos{
        padding-left: 9em !important;
    }
    #servicios .titulos{
        padding-left: 8em !important;
    }
    #ranking .titulos{
        padding-left: 5em !important;
    }

}

@media (min-width: 1200px) {
    #footer .titulos{
        padding-left: 9em !important;
    }
    #servicios .titulos{
        padding-left: 8em !important;
    }
    #ranking .titulos{
        padding-left: 5em !important;
    }

}

.menu{
 background-color: black;
}

.paginations a{
    color: crimson;
}

.paginations .page-link:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 187, 145, 0.7);
    border-color: rgba(255, 103, 8, 0.9);
}
.otrosLugares{
    background-color: rgba(255, 232, 119, 0.7);
}

#gmap_canvas img{
    max-width:none!important;
    background:none!important
}
.nav-tabs {
    border-bottom: 1px solid #bf1310;
}
.nav-link {
    color: crimson;
}

.nav-tabs .nav-link {
    border: 1px solid #c9302c;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: rgba(255, 103, 8, 0.9);
}

.nav-tabs a:hover {
    color: rgba(255, 103, 8, 0.9);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: rgba(255, 103, 8, 0.9);
    border-color: #bf1310;
}

.otrosResultados{
    background-color: rgba(255, 187, 145, 0.7);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.hueca h3{
    color: crimson;
    font-size: 24px;
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 400;
 }

.hueca h4{
    color:#3E426C;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
}
/*.card-text textos{*/
     /*text-overflow: ellipsis;*/
     /*overflow: hidden;*/
 /*}*/

.modalBusqueda{
    background-color: rgba(255, 187, 145, 0.7);
}
.pefilHueca{
    background-color: #232323;
}
/*css carlitos*/

.form-registro{
    width: 400px;
    height: 250px;
    border: solid 1px #f0ad4e;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    background-color: transparent;
}
.menudeBusqueda{
    background-color: #f0ad4e;
}
.buscadorbarra{
    background-color: rgba(255, 255, 255, 0.33);
    height: 100%;
    border-top: 150px solid rgba(255, 255, 255, -0.67);
}
.card{
    border: solid 2px #e4b9b9;
    border-radius: 20px;
    position: initial;
}

.bg-perfil{
    background-color: rgb(234, 210, 137);
}

.footericonsRegistro{
    background-color: black;
    border: 1px solid black;
    margin-top: -7px;
}

#footer .contactos hr{
    width: 100%;
}

.estrellaHueca{
    color: #eb9316;
    margin-bottom: -46px;
    margin-left: 3px;
}
.mapasComentarios{
    overflow: auto;
}

.scrollable{
    width: 1000px;
    height: 400px;
    overflow: scroll;
}
.perfiImagen{
    height: 170px !important;
}
.scrollspyClass{
    height: 250px;
    overflow: auto;
}

.pre-scrollable {
    max-height: 405px;
    overflow-y: auto;
}
/* Estilos para el scrollbar en todas las paginas*/
::-webkit-scrollbar-button{
    display: none; height: 13px; border-radius: 0px; background-color: #dadada;
}
::-webkit-scrollbar-button:hover{
    background-color: #AAA;
}
::-webkit-scrollbar-thumb {
    background-color: #838383; border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #CCC;
}
::-webkit-scrollbar-track{
    background-color: #efefef;
}
::-webkit-scrollbar-track:hover{
    background-color: #ffffff;
}
::-webkit-scrollbar{
    width: 5px;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container ul {
    list-style: none;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px;
}

.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}

html.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}