#t1 {
    color: #bd4147;
}

#t3 {
    color: #bd4147;
}

#t2 {
    color: #bd4147;
}

#s1{
    color: #eb9316;
}

#s2{
    color: #eb9316;
}
#s3{
    color: #eb9316;
}


#bt1{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    height: 45px;
    color: black;
}


#bt2{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    height: 45px;
    color: black;
}

#bt3{
    background-color: #f0ad4e;
    border: solid 2px #ec971f;
    height: 45px;
    color: black;
}

.img{
    width: 300px;
    height: 300px;
}

.line{
    width: 350px;
    height: 2px;
    background-color: #bd4147;
}
.tittle{
    color: #843534;
}
.card{
    border: solid 2px #e4b9b9;
    border-radius: 20px;
}

.popover.popover-bottom::before, .popover.bs-tether-element-attached-top::before {
    top: -11px;
    margin-left: 86px;
}

.popover.popover-bottom::after, .popover.bs-tether-element-attached-top::after {
    top: -10px;
    margin-left: 87px;
}

.popover.popover-bottom, .popover.bs-tether-element-attached-top {
    left: -88px !important;
    max-width: 315px !important;
}
.popover-content {
    max-width: 600px; !important;
}
.popover {
    border-radius: 0px;
    width: 315px;
    background-color: rgba(255, 255, 255, 0.33);
    border: 2px solid black;
}
.boton{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 31.666667%;
}
.footertexto{
    letter-spacing: 3px;
}
.footericons{
    border: 1px solid black;
}